
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lemonada:wght@500&family=Manrope&family=Poppins:wght@200;400;600&family=Roboto&family=Rubik+Burned&family=Signika:wght@600&family=Tourney:wght@400;800&family=Ubuntu:wght@500&family=Ysabeau:ital,wght@0,300;1,500&display=swap');


body{
    padding:0;
    margin:0;
    font-family: Signika ;
}